@font-face {
  font-family: "Vazir FD";
  src: local("Vazir FD"), url("./fonts/Vazir-FD.woff2") format("woff2");
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.table-container {
  max-width: 90rem;
  margin: 50px auto;
}

.modal-title h4 {
  margin-bottom: 16px;
  font-size: 18px;
}

.modal-title hr {
  border: 0;
  height: 1px;
  background: #dbdbdb;
}

.flex-basis {
  display: flex;
}

.background-blue {
  background-color: blue;
}

.search-icon {
  cursor: pointer;
  margin-right: 8px;
  padding: 6px;
  border-radius: 10px;
  color: white;
  background-color: blue;
}

.copy-icon {
  cursor: pointer;
  margin-right: 8px;
}

.track-id {
  width: 90px;
}

.modal-amount-container {
  padding-bottom: 16px;
  border-bottom: 1px groove #dbdbdb;
}

.modal-inner-container {
  border-bottom: 1px groove #dbdbdb;
}

.sm-right {
  margin-right: 8px;
}

.bm-top {
  margin-top: 22px;
}

.mm-bottom {
  margin-bottom: 16px;
}

.mm-top {
  margin-top: 16px;
}

.gray-color {
  color: rgb(109, 109, 109);
}

.blue-color {
  color: blue;
}

.modal-amount {
  color: blue;
  font-size: 24px;
}

.small-fontsize {
  font-size: 10px;
}
